
# exclude everything
/.data/*

# exception to the rule
!/.data/.gitkeep 
!/.data/users
!/.data/tokens

/.data/users/*
!/.data/users/.gitkeep


/.data/tokens/*
!/.data/tokens/.gitkeep


