
# exclude everything
/.data/*

# exception to the rule
!/.data/.gitkeep 
!/.data/users
!/.data/tokens
!/.data/menus
!/.data/menus/*

/.data/users/*
!/.data/users/.gitkeep


/.data/tokens/*
!/.data/tokens/.gitkeep

/lib/config.js


